- provide(:title, 'Your notifications')
.row
  .span12
    %ul.messages
      - if @messages.count > 0
        - @messages.each do |message|
          %li
            %span.user
              = User.find_by_id(message.sender_id).name
            %span.content
              = link_to message.content, "/messages/" + message.id.to_s
            %span.timestamp
              #{time_ago_in_words(message.created_at)} ago.

      - else
        %p You have no messages