<!--   EVERYTHING IN THIS FILE IS WRITTEN BY VINCENT ZHU
  He ported the videosoftware.pro flash roulette to Rails -->

<h1>Service#configuration</h1>
<p>Find me in app/views/service/configuration.html.erb</p>
