= content_for :content do
  %row
    .span11
      .panel.r_container.kill_left
        %a#next.btn-large.btn-inverse{:href => "#"}
          %i.icon-random.icon-white
          Next
        #window.r_block
          


  / load in /random user
  :javascript
    $('#next').click(function() {

      $('#window').fadeOut('fast', function() {

        $('#window').load('/random', function() {

          $('#window').fadeIn('fast');

        });
      
      });

    });