!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Feedback
    %p
      You have new feedback on casenexus from #{@user_from.name}
    %p
      Date of the case: #{@date}
    %p
      Subject of the case: #{@subject}
    %p
      To view this feedback, follow this link
      = link_to @url, @url