!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Feedback
    %p
      You have new feedback on casenexus from #{@user_from.name}
    %p
      To view this feedback, follow this link: #{@url}.