!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to casenexus.com, #{@user.name}
    %p
      You have successfully signed up to casenexus.com,
      your email address is: #{@user.email}.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!