!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Feedback Request
    %p
      Feedback on a case has been requested by {@user_from.name}
    %p
      Date of the case: #{@date}
    %p
      Subject of the case: #{@subject}
    %p
      Complete a feedback form for this user now
      = link_to @url, @url