!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      You have been sent a message on casenexus.com
    %p
      Your email address is #{@user.email}.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p have a great day!