!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Message
    %p
      You have a new message from #{@user_from.name}
    %p
      Message #{@message}
    %p
      To view this message, click here 
      = link_to @url, @url