- provide(:title, 'Your Progress')
- provide(:subtitle, 'Analysis of all of the cases you have done')

.row
  .span3
    %table
      %tr
        %td
          Total case
        %td
          = @user_cases_count
      %tr
        %td
          = current_user.cases.first.created_at.strftime("%m/%d/%Y")
        %td
          1st Jan 2012
      %tr
        %td
          "...some metrics..."
        %td
          "...xxx..."

  .span8
    #chart_radar{:style => "height: 300px;"}

.row
  .span11
    #chart_progress{:style => "width:100%; height:350px;"}


/ Radar Chart Javascript
:javascript

  var chart_radar;

  // load data from rails variable (defined in controller)
  var chartData_radar = #{@chartData_radar};

  // Draw AM Radar Chart
  AmCharts.ready(function () {
    // RADAR CHART
    chart = new AmCharts.AmRadarChart();
    chart.dataProvider = chartData_radar;
    chart.categoryField = "criteria";
    chart.startDuration = 0;

    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.title = "First 5";
    graph.lineColor = "#bdd523"
    graph.fillAlphas = 0.2;
    graph.bullet = "round"
    graph.valueField = "first5"
    graph.balloonText = "[[category]]: [[value]] m/s"
    chart.addGraph(graph);

    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.title = "Last 5";
    graph.lineColor = "#98cdff"
    graph.fillAlphas = 0.2;
    graph.bullet = "round"
    graph.valueField = "last5"
    graph.balloonText = "[[category]]: [[value]] m/s"
    chart.addGraph(graph);

    // VALUE AXIS
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.gridType = "circles";
    valueAxis.fillAlpha = 0.05;
    valueAxis.fillColor = "#000000"
    valueAxis.axisAlpha = 0.2;
    valueAxis.gridAlpha = 0;
    valueAxis.fontWeight = "bold"
    valueAxis.minimum = 0;
    chart.addValueAxis(valueAxis);

    var legend = new AmCharts.AmLegend();
    legend.position = "bottom";
    legend.align = "center";
    legend.rollOverGraphAlpha = "0.1";
    legend.horizontalGap = "0";
    legend.spacing = "5";
    chart.addLegend(legend);

    // WRITE
    chart.write("chart_radar");
  });



/ Progress graph javascript
:javascript

  var chart_area;

  // loop through model json, construct AM compatabile array + run parseDate
  chartData_progress = [];
  $.getJSON("analysis", function(json) {

    for (var i = 0; i < json.length; i++) {

      var dataObject = {date:parseDate(json[i].date), plan:json[i].plan, analytic:json[i].analytic, struc:json[i].struc, conc:json[i].conc};

      chartData_progress.push(dataObject); 
    }

  });

  // draw AM Progress Chart
  AmCharts.ready(function () {
    // SERIAL CHART
    chart = new AmCharts.AmSerialChart();
    chart.pathToImages = "/lib/samples/javascript/images/";
    chart.zoomOutButton = {
        backgroundColor: "#000000",
        backgroundAlpha: 0.15
    };
    chart.dataProvider = chartData_progress;
    chart.categoryField = "date";

    // AXES
    // Category
    var categoryAxis = chart.categoryAxis;
    categoryAxis.gridAlpha = 0.07;
    categoryAxis.axisColor = "#DADADA";
    categoryAxis.startOnAxis = true;
    categoryAxis.labelRotation = 45;
    categoryAxis.parseDates = true;  

    // Value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.stackType = "regular"; // this line makes the chart "stacked"
    valueAxis.gridAlpha = 0.07;
    valueAxis.axisColor = "#DADADA";
    valueAxis.title = "Case Score";
    valueAxis.titleBold = false;
    chart.addValueAxis(valueAxis);

    // DONT FORGET YOU CAN USE 'GUIDES'

    // GRAPHS
    // first graph
    var graph = new AmCharts.AmGraph();
    graph.type = "line";
    graph.title = "Planning";
    graph.valueField = "plan";
    graph.lineAlpha = 1;
    graph.fillAlphas = 0.6; // setting fillAlphas to > 0 value makes it area graph
    chart.addGraph(graph);

    // second graph
    graph = new AmCharts.AmGraph();
    graph.type = "line";
    graph.title = "Analytical";
    graph.valueField = "analytic";
    graph.lineAlpha = 1;
    graph.fillAlphas = 0.6;
    chart.addGraph(graph);

    // third graph
    graph = new AmCharts.AmGraph();
    graph.type = "line";
    graph.title = "Structure";
    graph.valueField = "struc";
    graph.lineAlpha = 1;
    graph.fillAlphas = 0.6;
    chart.addGraph(graph);

    // fourth graph
    graph = new AmCharts.AmGraph();
    graph.type = "line";
    graph.title = "Conclusion";
    graph.valueField = "conc";
    graph.lineAlpha = 1;
    graph.fillAlphas = 0.6;
    chart.addGraph(graph);

    // LEGEND
    var legend = new AmCharts.AmLegend();
    legend.position = "bottom";
    legend.rollOverGraphAlpha = "0.3";
    legend.horizontalGap = "0";
    legend.spacing = "0";
    chart.addLegend(legend);

    // CURSOR
    var chartCursor = new AmCharts.ChartCursor();
    chartCursor.zoomable = true; // as the chart displayes not too many values, we disabled zooming
    chartCursor.cursorAlpha = 0;
    chart.addChartCursor(chartCursor);

    // WRITE
    chart.write("chart_progress");
      
  });

  // method to parse sql date string into AM compataible Date Object
  function parseDate(dateString) {
     // split the string get each field
    var dateArray = dateString.split("-");
    // now lets create a new Date instance, using year, month and day as parameters
    // month count starts with 0, so we have to convert the month number
    var date = new Date(Number(dateArray[0]), Number(dateArray[1]) - 1, Number(dateArray[2]));

    $('#testing').append(date);

    return date;
  }


//change chart.dataProvider??
//chart.validateData()
