- provide(:title, 'Your Cases')
- provide(:subtitle, 'View your cases')

/ NB cas is used instead of 'case' as it's apparently used for something else in rails and fails!
%ol.cases

  - if @cases.count > 0
    - @cases.each do |cas|

      / render cas partial
      = render partial: 'cases/cas' , locals: { :cas => cas }

  - else
    %h3 You have no cases
    %h5
      Use the user map or the roulette page to find new case partners and start practising!


= will_paginate @cases, class: "nexus_pagination", :inner_window => 2, :outer_window => 2