:javascript
  function getposts() {
    //alert("hello!");
    //$($(this).attr("id")).innerHTML;
  }


%ul.filter

  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        Country
        %span.caret
      %ul.dropdown-menu

        - n = 0
        - @countries.each do |country|

          %li.filter_item(onclick="getposts();")
            = link_to country.country, "#"

          - n = n + 1
  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        City
        %span.caret
      %ul.dropdown-menu

        - n = 0
        - @cities.each do |city|

          %li{onclick: "getposts();"}
            = link_to city.city, "#"

          - n = n + 1
  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        Skill
        %span.caret
      %ul.dropdown-menu

        - n = 0
        - @skills.each do |skill|

          %li{onclick: "getposts();"}
            = link_to skill.skill, "#"

          - n = n + 1