%ul.filter
  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        Country
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} United Kingdom
        %li
          %a{:href => "#"} United Status of America
        %li
          %a{:href => "#"} Venezuela

  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        City
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Ipswich
        %li
          %a{:href => "#"} London
        %li
          %a{:href => "#"} Norwich

  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        Skill
        %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Beginner
        %li
          %a{:href => "#"} Novice
        %li
          %a{:href => "#"} Intermediate
        %li
          %a{:href => "#"} Advanced
        %li
          %a{:href => "#"} God
        %li
          %a{:href => "#"} Victor Cheng-like