- provide(:title, 'Map')

%script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")

%body(onload="load_map();")

%h1 Map 

.row
  %aside.span3
    / #post_form
    /   = render 'post_form'

    / #post_list(style="overflow:auto;height:400px;")
    /   = render template: 'posts/index'

    = form_tag posts_path, :method => 'get', :id => "posts_search" do
      #post_filter
        = render 'post_filter'
      %p
        = text_field_tag :search, params[:search]
        = submit_tag "Search", :name => nil
      #posts
        =render 'posts'


  .span6
    #map.map(style="width:100%;height:600px")
    
  .span3
    #user