- provide(:title, 'Map')


%script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")

%body(onload="load_map();")

#map.map

#mappanel_posts.mappanel
  #post_form
    = render 'post_form'

  = form_tag posts_path, :method => 'get', :id => "posts_search" do

    / AJAX POST FILTER SYSTEM
    / TO BE RE-VISITED LATER WITH EXPERT HELP
    / #post_filter
    /   = render 'posfilter'

    / #filter_form(style="display:none;")
    / = collection_select(nil, :search, @countries, :country, :country, {:prompt => true})
    / = collection_select(nil, :search, @cities, :city, :city, {:prompt => true})
    / = collection_select(nil, :search, @skills, :skill, :skill, {:prompt => true})
    / TO BE RE-VISITED LATER WITH EXPERT HELP

    %p
      = text_field_tag :search, params[:search]
      / = submit_tag "Search", :name => nil

    #posts
      =render 'posts'

#mappanel_user.mappanel
  #user
    hello