%script{:src => "http://localhost:8080/socket.io/socket.io.js"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
:javascript
  var socket = io.connect('http://localhost:8080');
  var block_array = new Array();

  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){
  	// call the server-side function 'adduser' and send one parameter (value of prompt)
  	socket.emit('adduser', '#{current_user.name}');
  });

  //listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('updatechat', function (username, data) {
  	$('#conversation').append(''+username + ': ' + data + '<br/>');
  });

  // listener, whenever the server emits 'updateusers', this updates the username list
  socket.on('updateusers', function(data) {
  	$('#users').empty();

    var i = 0

  	$.each(data, function(key, value) {

      //this function gives -1 if something is not in an array
      // if (jQuery.inArray(key, block_array) = -1) {
      //     $('#block_' + j).fadeOut('slow');
      //     $('#block_' + j).remove();
      // } else {

      //     block_array.push(key);
      // }

      //block_array = [];

          $('#users').append('<div id=block_'+i+' class="block_r">' + key + '</div>');
          $('#block_' + i).fadeIn('slow');

      i++

  	});


  });

  //on load of page
  $(function(){
  	// when the client clicks SEND
  	$('#datasend').click( function() {
  		var message = $('#data').val();
  		$('#data').val('');
  		// tell server to execute 'sendchat' and send along one parameter
  		socket.emit('sendchat', message);
  	});

  	// when the client hits ENTER on their keyboard
  	$('#data').keypress(function(e) {
  		if(e.which == 13) {
  			$(this).blur();
  			$('#datasend').focus().click();
  		}
  	});
  });


%row
  %span12
    %div{:style => "overflow:scroll-y;float:left;width:100%;height:200px;"}
      %b USERS
      #users
    %div{:style => "overflow:scroll-y;height:200px;clear:both;"}
      %b LOG
      #conversation