/ ensure direction and sort order persists
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

%ul#post_list

  / loop through posts
  - if @posts.count > 0
    - for post in @posts

      / render post partial
      = render partial: 'posts/post' , locals: { :post => post }

  - else
    %p.pull-left
      No posts found

= will_paginate @posts, class: "nexus_pagination", :inner_window => 1, :outer_window => 0