#flash_posts

/ render new post form, remote AJAX enabled

#post_form
  = form_for(@post, remote: true) do |f|
    = render 'shared/error_messages', object: @post
    .field
      = f.text_area :content, placeholder: "Compose new post...", :rows => 3
    = f.submit "Post", class: "btn btn-large btn-primary"