:javascript
  function getposts() {
    //alert("hello!");
    //$($(this).attr("id")).innerHTML;
  }


%ul.filter

  %li
    / = collection_select(:search, :search, @countries, :country, :country, {:prompt => true})
    / .control-group
    /   %label.control-label{:for => "filter_country"} Country
    /   .controls
    /     %select#filter_country

    /       - @countries.each do |country|

    /         %option
    /           = country.country


  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        Country
        %span.caret
      %ul.dropdown-menu

        - @countries.each do |country|

          %li.filter_item(onclick="getposts();")
            = link_to country.country, "#"

  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        City
        %span.caret
      %ul.dropdown-menu

        - @cities.each do |city|

          %li{onclick: "getposts();"}
            = link_to city.city, "#"

  %li
    .btn-group
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        Skill
        %span.caret
      %ul.dropdown-menu

        - @skills.each do |skill|

          %li{onclick: "getposts();"}
            = link_to skill.skill, "#"
