/ make entire row trigger marker click
%li.btn.post_block{onclick: "google.maps.event.trigger(markerArray[" + post.user_id.to_s + "],'click');"}
  %table
    %tr
      %td.post_avatar_block
        = avatar_for(post.user)
      %td.post_content_block
        %strong
          = post.user.name
        %span.timestamp
          #{time_ago_in_words(post.created_at)} ago.
        .post_content
          = post.content.truncate(35, :separator => ' ')