@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: 5px;
  padding-top: 7px;
  /* font-weight: bold; */
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight; color: $grayLight;
  a{
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* maps */


.map img {
  max-width: none;
}

#map {
  position:absolute;
  left:0px;
  top:40px;
  z-index:0;
  width:100%;
  height:100%;
}

.mappanel {
  position:absolute;
  background-color:white;
  padding:20px;
  margin:20px;
  z-index:20;
}

#mappanel_posts {

  left:100px;
  top:40px;
  width:300px;

}

#mappanel_user {
  right:0px;
  top:40px;
  width:200px;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
    border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    } 
  }
}

.gravatar {
  float:left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

// .users {
//   list-style: none;
//   margin: 0;
//   li {
//     overflow: auto;
//     padding: 10px 0;
//     border-top: 1px solid $grayLighter;
//     &:last-child {
//       border-bottom: 1px solid $grayLighter
//     }
//   }

// }

/* posts */

// .posts {
//   list-style: none;
//   margin: 10px 0 0 0;
//   li {
//     padding: 10px 3px;
//     border-top: 1px solid #e8e8e8;
//     &:hover {
//       border: 1px solid #e8e8e8;
//     }
//   }
// }
// .content {
//   display: block;
// }
// .timestamp {
//   color: $grayLight;
// }
// .gravatar {
//   float: left;
//   margin-right: 10px;
// }
// aside {
//   textarea {
//     height: 100px;
//     margin-bottom: 5px;
//   }
// }

.filter {
  list-style: none;
  height: 30px;
  li {
    float:left;
    padding: 2px;
    li { clear: both; }
  }
}

table.posts {
  border-collapse: collapse;
}

.posts td, .posts th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.posts th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.posts th .asc {
  background-image: url(up_arrow.gif);
}

.posts th .desc {
  background-image: url(down_arrow.gif);
}


/**** cases ****/


/* case index * /

.cases {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 3px;
    border-top: 1px solid #e8e8e8;
    &:hover {
      border: 1px solid #e8e8e8;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}

/* case show */

.case_comment {
  background-color: $grayLighter;
  border: 1px solid $grayLight;
  padding: 5px;
  margin: 5px;
}

.case_score {
  padding: 10px;
  margin:5px;
  width:40px;
  text-align:center;
  font-size:130%;
  font-weight:bold;
}

/* case form */

.case_nav {
  list-style: none;
  li {
    padding:5px;
    color: black;
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
}
.case_form {
  textarea {
    height: 50px;
    margin-bottom: 5px;
    /* margin-top: -12px; */
    width:300px;
  }
}

.slider {
  width: 252px;
  float: left;
  margin-top:10px;
  margin-right:10px;
  margin-left:6px;
  z-index:0;
}

.slider_input {
  border:0;
  height:30px;
  font-size:150%;
  color:#b9b9b9;
  font-weight:bold;
  text-align:center;
  width:30px;
  text-align:center;
}
.field_text {
  width:300px;
  margin-bottom:5px;
}

.case_block_title {
  color: gray;
  border-bottom: 1px solid $grayLighter;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.case_block_desc {
  color: gray;
  width: 100%;
  font-size:80%;
  margin-top:-7px;
  margin-bottom:5px;
}

/* roulette */

.block_r {

  width: 125px;
  height: 75px;
  margin: 10px;
  border: 1px solid gray;
  -moz-box-shadow: 2px 2px 7px #888;
  -webkit-box-shadow: 2px 2px 7px #888;
  box-shadow: 2px 2px 7px #888;
  -moz-border-radius:15px;
  border-radius: 15px;
  float:left;
  display:none;
  padding-top:50px;
  text-align: center;
  &:hover {
    background-color: $grayLighter;
  }
}


