@import "bootstrap";



/////////////////HACKS////////////////////

// FIELD HEIGHT SHRUNK TO 18px
// NB BTN-INVERSE STARTED WORKING AT THE SAME TIME
input[type="text"], input[type="password"] {
  height: 30px;
}

/* to fix TBS button overspills... */
/* input[type=submit]{ */

//////////////////HACKS///////////////////



/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******** universal ***********/

html {
  overflow-y: scroll;

}
body {
  padding-top: 40px;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* framework */
.container {
  &.main{
    /* replace with local copy! */
    background: url(white-wash.png);
  }
}

.panel{
  background: white;
  margin: 20px;
  border: 1px solid $grayLight;
  padding: 10px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &.type1{
    background-color: #FCFCFC;
  }

  &.kill_right {
    margin-right: 0px;
  }

  &.kill_left{
    margin-left: 0px;
  }

  &.kill_bottom{
    margin-bottom: 0px;
  }

  &.kill_top{
    margin-bottom: 0px;
  }
}

.panel_title {

  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
  border-bottom: 1px solid $grayLight;
  line-height:3em;
  background-color: $grayLighter;
}

/*********** typography ***********/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h5{
  color: $grayLight;
  line-height:25px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/************ header ***********/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: 5px;
  padding-top: 7px;
  /* font-weight: bold; */
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/************ footer *************/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight; color: $grayLight;
  a{
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/********** miscellaneous **********/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#flash_application {

  position: absolute;
  top: 50px;
  margin-left:20%;
  margin-right:20%;
  width:60%;
  z-index:200;

}

#flash_posts {
  display: none;
}

/******** sidebar WHAT THE HELL IS THIS FOR? ******/

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
    border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    } 
  }
}

/************* forms *************/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.coldate {
  width: 60px;
}

/************** Map Page **************/

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.panel_m {
  position: absolute;
  z-index: 1;
  top:20%;
  background: url(white-wash.png);

}

#panel_m_posts {
  left: 100px;
  width: 400px;
}

#panel_m_user {
  right: 30px;
  width: 320px;
  display: none;
}

#m_user_close {
  border: 0;
  background-color: white;
}

.m_user {
  margin: 0px;
  li {
    list-style-type: none;
    &.header{
      border-bottom: 1px solid $grayLighter;
      font-weight:bold;   
    }
    &.name{
      margin-bottom: 20px;
    }
  }
}


/* maps all */

.map img {
  max-width: none;
}


.panel_latlng {
  margin:auto;
}

.panel_map_edit {
  height:325px;
  width:97%;
  margin-top:20px;
  border: 1px solid $grayLight;
}

/********** posts *****NEED TO TIDY?******/


// .filter {
//   list-style: none;
//   height: 30px;
//   li {
//     float:left;
//     padding: 2px;
//     li { clear: both; }
//   }
// }

#posts{
  overflow:auto;
  height:300px;
}

table.posts {
  border-collapse: collapse;
  width:100%;
}

.posts td, .posts th {
  padding: 3px 4px;
  border-bottom: solid 1px #AAA;
}

.post_content {
  color: grayLight;
}

.posts th .current {
  background-repeat: no-repeat;
  background-position: right center;
}

.posts th .asc {
  background-image: url(up_arrow.gif);
}

.posts th .desc {
  background-image: url(down_arrow.gif);
}


/*********** Template **********/

.sidebar {
  list-style: none;
  li {
    padding:5px;
    color: black;
    &:hover {
      background-color: $grayLighter;
      text-decoration: none;
    }
  }
}


/************ messages ************/


/* message index */

.messages {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 3px;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: $grayLighter;
    }
    .content {
      display: block;
    }
    .timestamp {
      color: $grayLight;
    }
  }

}

/************ cases ************/


/* case index */

.cases {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 3px;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: $grayLighter;
    }
    .content {
      display: block;
    }
    .timestamp {
      color: $grayLight;
    }
  }

}


/* case show */

.case_comment {
  background-color: $grayLighter;
  border: 1px solid $grayLight;
  padding: 5px;
  margin: 5px;
}

.case_score {
  padding: 10px;
  margin:5px;
  width:40px;
  text-align:center;
  font-size:130%;
  font-weight:bold;
}

/* case form */

.case_form {
  textarea {
    height: 50px;
    margin-bottom: 5px;
    /* margin-top: -12px; */
    width: 300px;
  }
}

.slider {
  width: 252px;
  float: left;
  margin-top:10px;
  margin-right:10px;
  margin-left:6px;
  z-index:0;
}

.slider_input {
  border:0;
  height:30px;
  font-size:150%;
  color:#b9b9b9;
  font-weight:bold;
  text-align:center;
  width:30px;
  text-align:center;
}
.field_text {
  width:300px;
  margin-bottom:5px;
}

.case_block_title {
  color: gray;
  border-bottom: 1px solid $grayLighter;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.case_block_desc {
  color: gray;
  width: 100%;
  font-size:80%;
  margin-top:-7px;
  margin-bottom:5px;
}

.target_name {
  padding-bottom:20px;
  padding-top:10px;
  font-size:200%;
  font-weight:bold;
  text-align:center;
  width:100%;
}

/************* roulette **************/

.r_block {

  width: 250px;
  height: 250px;
  margin: 10px;
  border: 1px solid gray;
  &:hover {
    background-color: $grayLighter;
  }
  -moz-box-shadow: 2px 2px 7px #888;
  -webkit-box-shadow: 2px 2px 7px #888;
  box-shadow: 2px 2px 7px #888;
  -moz-border-radius:15px;
  border-radius: 15px;

}

.r_grid {
  list-style-type: none;
}

.r_user {
  border: 0px solid black;
  width: 100%;
  list-style-type: none;
  position:relative;
  margin:0px;
  top:30px;
  margin:10px;
}

/* Paginate Theme */

.nexus_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 5px;
  cursor: default; }
  .nexus_pagination a, .nexus_pagination span {
    padding: 0.2em 0.3em; }
  .nexus_pagination .disabled {
    color: #aaaaaa; }
  .nexus_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .nexus_pagination a {
    text-decoration: none;
    color: black; }
    .nexus_pagination a:hover, .nexus_pagination a:focus {
      text-decoration: underline; }
