@import "bootstrap";


/////////////////HACKS////////////////////

// FIELD HEIGHT SHRUNK TO 18px
// NB BTN-INVERSE STARTED WORKING AT THE SAME TIME
input[type="text"], input[type="password"] {
  height: 30px;
}

/* to fix TBS button overspills... */
/* input[type=submit]{ */

//////////////////HACKS///////////////////


/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******** universal ***********/

html {
  overflow-y: scroll;

}
body {
  padding-top: 40px;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* framework */
.container {
  &.main{
    /* replace with local copy! */
    background: url(white-wash.png);
  }
}

.panel{
  background: white;
  margin: 20px;
  border: 1px solid $grayLight;
  padding: 10px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &.type1{
    background-color: #FCFCFC;
  }

  &.kill_right {
    margin-right: 0px;
  }

  &.kill_left{
    margin-left: 0px;
  }

  &.kill_bottom{
    margin-bottom: 0px;
  }

  &.kill_top{
    margin-bottom: 0px;
  }
}

.panel_title {

  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
  border-bottom: 1px solid $grayLight;
  line-height:3em;
  background-color: white;
}

/*********** typography ***********/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h5{
  color: $grayLight;
  line-height:25px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/************ header ***********/

#logo_container{
  position: absolute;
  top: 0px;
}
#logo-globe {

}

#logo-text {
  position:relative;
  top:7px;
}

.count {
  font-size: 1.1em;
  color: white;
  letter-spacing: 1px;
  
  padding-left: 4px;
  /* font-weight: bold; */
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/************ footer *************/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight; color: $grayLight;
  a{
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/********** miscellaneous **********/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#flash_application {

  position: absolute;
  top: 40px;
  margin-left:20%;
  margin-right:20%;
  width:60%;
  z-index:200;
  margin-top:0px;

}

#flash_posts {
  display: none;
}

/* hide skype flash block */
#skypedetectionswf{
margin-left: -10000px;
width: .001em;
height: .001em;
}

.avatar {
  width: 25px;
  height: 25px;
}


/********** posts *****NEED TO TIDY?******/


#posts{
  height: 420px;
  padding: 0px;
  margin: 0px;
}

#post_list{
  height: 390px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.post_content {
  color: grayLight;
}

.post_avatar_block{
  width: 50px;
  height: 50px;
  border-right: 1px solid $grayLighter;
}

.post_content_block{
  text-align:left;
  padding-left:3px;
}

.post_block {
  width: 336px;
  height: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  display: none;

}

#posts_search_form {
  margin:0px;
}

#posts_search_field{
  width:272px;
}

#posts_search {
  height:35px;
}

#posts_buttons {
  height:35px;
}

#post_form_container{
  width:400px;
  margin-left: auto;
  margin-right: auto;
  height:120px;
  /* border: 1px solid black; */
}



/******** sidebar WHAT THE HELL IS THIS FOR? ******/

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
    border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    } 
  }
}

/************* forms *************/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.coldate {
  width: 60px;
}

/************** Map Page **************/

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.panel_m {
  position: absolute;
  z-index: 1;
  background: url(white-wash.png);

}

#panel_m_posts {
  top: 37px;
  left: 80px;
  width: 400px;
}

#panel_m_user {
  top: 37px;
  right: 80px;
  width: 320px;
  display: none;
}

#m_user_close {
  border: 0;
  background-color: white;
}

.m_user {
  margin: 0px;
  li {
    list-style-type: none;
    &.header{
      border-bottom: 1px solid $grayLighter;
      font-weight:bold;   
    }
    &.name{
      margin-bottom: 20px;
    }
  }
}


/* maps all */

.map img {
  max-width: none;
}

/* being used? */
.panel_latlng {
  display:none;
}

.panel_map_edit {
  height:325px;
  width:97%;
  margin-top:20px;
  border: 1px solid $grayLight;
}



/************ notifications ************/


/* mnotification index */

.notifications {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 3px;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: $grayLighter;
    }
    .content {
      display: block;
    }
    .timestamp {
      color: $grayLight;
    }
  }

}

.notification_avatar_block{
  width: 50px;
  height: 50px;
  border-right: 1px solid $grayLighter;
  text-align: center;
}

.notification_content_block{
  text-align:left;
  padding-left:3px;
}

/* header notifications */

.notification_header_content {
  font-size:90%;
}

.notification_header_avatar_block{
  width: 40px;
  height: 30px;
  border-right: 1px solid $grayLighter;

}

.notification_header_content_block {
  text-align:left;
  padding-left:5px;
  .timestamp {
    font-size:85%;
  }
}

.notification_header_table {
  width: 230px;
}



/************ cases ************/


#analysis_stats{
  td{
    border-bottom:1px solid $grayLighter;
    padding:5px;
    &.value{
      font-style:italic;
      text-align:right;
    }
  }
}

#button_print_analysis{
  width:178px;
  height:18px;
  margin-left:20px;
}

.cases_comment {
  background: #FEFEFE;
  margin: 5px;
  margin-bottom: 0px;
  border: 1px solid $grayLight;
  padding: 5px;

  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;

  .from {
    font-weight: bold;
    .date {
      font-weight:normal;
      color: $grayLight;
    }
  }

  .content {
    font-style: italic;
    color: $grayLight
  }
}

#comments_panel {
  font-size:85%;
  ul {
    margin:0px;
    margin:auto;
  }
  background-color: $grayLighter;
}

.comment_scroll {
  overflow-y:auto;
  height:200px;
  background-color:white;
}

/* case index */

.cases {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 3px;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: $grayLighter;
    }
    .content {
      display: block;
    }
    .timestamp {
      color: $grayLight;
    }
  }

  .score {
    padding: 10px;
    margin:5px;
    width:40px;
    text-align:center;
    font-size:190%;
    font-weight:bold;
    color:#98cdff;
  }
}

.case_avatar_block{
  width: 50px;
  height: 50px;
  border-right: 1px solid $grayLighter;
  text-align: center;
}

.case_content_block{
  text-align:left;
  padding-left:3px;
}

/* case show */

.case_comment {

  padding: 5px;
  margin: 5px;
  border: 1px solid $grayLighter;

  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;

  &.notes{
    background-color:#fffe8c;
    border-color:#ffe38c;
    height:70px;
  }

  .title {
    margin-bottom:5px;
    width:100%;
    border-bottom:1px solid $grayLighter;
    margin:0px;
    font-weight:bold;
    padding-bottom:3px;
    text-align:center;
  }

  .score {
    padding: 10px;
    margin:5px;
    width:40px;
    text-align:center;
    font-size:190%;
    font-weight:bold;
    color:#98cdff;
  }

  .comment{
    color: gray;
  }

}



/* case form */

.case_form {
  textarea {
    height: 50px;
    margin-bottom: 5px;
    /* margin-top: -12px; */
    width: 300px;
  }
}

.slider {
  width: 252px;
  float: left;
  margin-top:10px;
  margin-right:10px;
  margin-left:6px;
  z-index:0;
}

.slider_input {
  border:0;
  height:30px;
  font-size:180%;
  color:#b9b9b9;
  font-weight:bold;
  text-align:center;
  width:30px;
  text-align:center;
}
.field_text {
  width:300px;
  margin-bottom:5px;
}

.case_block_title {
  color: gray;
  border-bottom: 1px solid $grayLighter;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.case_block_desc {
  color: gray;
  width: 100%;
  font-size:80%;
  margin-top:-7px;
  margin-bottom:5px;
}

.target_name {
  padding-bottom:20px;
  padding-top:40px;
  font-size:200%;
  font-weight:bold;
  text-align:center;
  width:100%;
}


/************* roulette **************/

.r_block {

  width: 250px;
  height: 250px;
  margin: 10px;
  border: 1px solid gray;
  &:hover {
    background-color: $grayLighter;
  }
  -moz-box-shadow: 2px 2px 7px #888;
  -webkit-box-shadow: 2px 2px 7px #888;
  box-shadow: 2px 2px 7px #888;
  -moz-border-radius:15px;
  border-radius: 15px;

}

.r_container {
  height:500px;
}

.r_grid {
  list-style-type: none;
}

.r_user {
  border: 0px solid black;
  width: 100%;
  list-style-type: none;
  position:relative;
  margin:0px;
  top:30px;
  margin:10px;
}

/* Paginate Theme */

.nexus_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 5px;
  cursor: default; }
  .nexus_pagination a, .nexus_pagination span {
    padding: 0.2em 0.3em; }
  .nexus_pagination .disabled {
    color: #aaaaaa; }
  .nexus_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .nexus_pagination a {
    text-decoration: none;
    color: black; }
    .nexus_pagination a:hover, .nexus_pagination a:focus {
      text-decoration: underline; }


/* Modals */

#modal_post_edit {
  height: 230px;
}


