= content_for :content do

  .panel_title
    %h3
      =yield(:title)
    %h5.subheader
      =yield(:subtitle)

  .row
    .span12
      .panel
        = yield

= render :template => 'layouts/application'